:root {
  --font-setting: courier new;
  --text-color: rgb(125, 123, 123);
  --background-color: rgb(217, 237, 237);
  --special-font: Chalkduster, fantasy;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-setting);
  background-color: var(--background-color);
}
/* main logo and nav*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
h1 {
  font-family: var(--special-font);
  color: var(--text-color);
  -webkit-filter: drop-shadow(10px 10px 20px rgba(251, 202, 202, 5));
  filter: drop-shadow(10px 10px 20px rgba(237, 195, 195, 5));
  margin-left: 10px;
}
a {
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: var(--text-color);
}
a:hover {
  color: #a26360;
  border-radius: 10%;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(251, 202, 202, 0.9));
  filter: drop-shadow(0px 0px 20px rgba(237, 195, 195, 0.9));
}
/*drawing that split header and main*/
.hero-banner {
  height: 100px;
  color: var(--text-color);
  width: 100%;
  background-image: url(../../images/web.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
}
/*about me*/

#myself {
  width: 20%;
  text-align: center;
}
#profile-pic {
  margin: 10px;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%));
  filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%));
  height: auto;
  width: 15vw;
}
/*description about me*/
.description {
  display: flex;
  align-items: center;
  text-align: justify;
  gap: 20px;
  padding: 10px;
  border-left: 2px solid rgb(125, 123, 123);
  line-height: 1.5;
  width: 80%;
}
h2 {
  text-align: end;
  margin: 10px;
  font-family: var(--special-font);
  color: var(--text-color);
}

/*projects container*/
.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 10px;
}

#work-title {
  width: 20%;
  text-align: center;
}

#main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px 500px 500px;
  grid-template-areas:
    "first-block first-block"
    "second-block third-block"
    "fourth-block fifth-block";
  color: var(--text-color);
  border-left: 2px solid rgb(125, 123, 123);
  width: 80%;
  color: var(--text-color);
}
.main-page {
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: contain;
  background-color: rgb(244, 229, 229);
  color: var(--text-color);
  border: 2px solid rgb(125, 123, 123);
  margin: 20px;
}
#first-block {
  grid-area: first-block;
  background-image: url("../../images/firstwebsite.png");
}
#second-block {
  grid-area: second-block;
  background-image: url("../../images/pre-work.png");
}
#third-block {
  grid-area: third-block;
  background-image: url("../../images/jakes.eatery.png");
}
#fourth-block {
  grid-area: fourth-block;
  background-image: url("../../images/kudox.png");
}
#fifth-block {
  grid-area: fifth-block;
  background-image: url("../../images/coming.jpg");
}
.sub-message {
  position: absolute;
  margin-top: -10px;
  margin-left: 5px;
}
.sub-message p {
  text-align: center;
  height: 30px;
  padding: 5px;
  background-color: rgb(244, 229, 229);
  color: var(--text-color);
  border: 2px solid rgb(125, 123, 123);
}
.sub-message p:hover {
  background-color: rgb(240, 240, 184);
}
/*details to contact me*/

#contactme {
  height: 200px;
}
#contact {
  width: 20%;
  border-right: 2px solid rgb(125, 123, 123);
}
#online {
  width: 80%;
  text-align: center;
}
#linkedin,
#github,
#email {
  width: 40px;
  height: 40px;
}
#linkedin:hover,
#github:hover,
#email:hover {
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%));
  filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%));
}

#first-block:hover,
#second-block:hover,
#third-block:hover,
#fourth-block:hover,
#fifth-block:hover {
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%));
  filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%));
}
/*footer section*/
footer {
  position: relative;
  margin-bottom: -200px;
  text-align: center;

  height: 40px;
  background-color: rgb(244, 229, 229);
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0px;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 22px;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
 nav a {
    border-right: 0.5px solid var(--text-color);
    padding: 5px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .section {
    display: flex;
    flex-direction: column;
    padding: 2vw 3vw;
  }
}
@media screen and (max-width: 768px) {
  #myself {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .description {
    display: block;
    border-left: 2px solid rgb(125, 123, 123);

    width: 90%;
    text-align: center;
    border-left: none;
  }
}

@media screen and (max-width: 768px) {
  #work {
    justify-content: space-between;
    background-color: ;
  }
}

@media screen and (max-width: 768px) {
  #main {
    display: grid;
    width: 100%;
    margin: 20px;
    padding: 5px;
    grid-template-rows: 350px 200px 200px;
    border-left: none;
  }
}

@media screen and (max-width: 768px) {
  .main-page {
    margin: 20px;
    width: auto;
    padding: 2px;
  }
}

@media screen and (max-width: 768px) {
  #work-title {
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  #contactme {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  #contact {
    border: none;
    width: auto;
    padding: 10px;
  }
}

/*footer section*/
@media screen and (max-width: 768px) {
  footer {
    text-align: center;
  }
}
