:root {
  --font-setting: Chalkduster, fantasy;
  --text-color: #a26360;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--primarycolor);
  font-family: var(--font-setting);
  box-sizing: border-box;
  background-color: rgb(244, 229, 229, 0.4);

}
  
/*configurate my-profile and nav search*/
.navigation {
  display: flex;
  height: 150px;
  background-color: #bdd1c5;
}

h1 {
  color: white;
  margin-top: 40px;
}
nav {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}

nav a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: white;
}
/*first section*/
.hero-banner {
  text-align: center;
  height: 150px;
  color:var(--text-color);
  background-color: rgb(244, 229, 229);
}
.hero-banner p {
  float: right;
  margin-top: 50px;
  height: 100;
}
#img{
  margin-left: 20px;
  margin-top: 10px;;
  width: 100%;
  height: 50%;
}
/*configurate pic of me*/
#profile-pic {
  border-radius: 50%;
  width: 80%;
}

/*configurate the main page*/
.page-wrapper {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 300px 400px 300px 300px 100px;
  grid-template-areas:
    "aboutme description description"
    "work first-block first-block"
    "work second-block third-block"
    "work fourth-block fifth-block"
    "contactme icons icons";
 
}

/*This part has all the div of the projects section*/
.main-page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-size: contain;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
/*p is the description of the images*/
.sub-message p {
  color: black;
  background-color: #bdd1c5;
  text-align: center;
  height: 30px;
}
h2 {
  color: var(--text-color);
  float: right;
  padding: 10px;
}

/*sidebar*/
#aboutme,
#work,
#contactme {
  border-right: 3px solid #a26360;
  margin-bottom: 10px;
}
#aboutme {
  grid-area: aboutme;
}
/*description of mysel*/
#description {
  grid-area: description;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* @media only screen and (max-width: 768px)
#description {
    display: flex;
    flex-direction: column;
    padding: 5vw 3vw;
} */
#about{
  gap:40px;
  width: 100%;
  display: flex;
  color: #a26360;
  gap: 30px;
  margin-left: 20px;
}

#work {
  grid-area: work;
}
/*x-blocks are the grid area*/
#first-block {
  grid-area: first-block;
  background-image: url("../../images/firstwebsite.png");

}
#second-block {
  grid-area: second-block;
  background-image: url("../../images/pre-work.png");
}
#third-block {
  grid-area: third-block;
  background-image: url("../../images/jakes.eatery.png");
}
#fourth-block {
  grid-area: fourth-block;
  background-image: url("../../images/kudox.png");
}
#fifth-block {
  grid-area: fifth-block;
}
/*foot*/
#contactme {
  grid-area: contactme;
}
/*icons for the foot*/
#icons {
  grid-area: icons;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
  align-items: end;
}
#linkedin,
#github,
#email {
  width: 40px;
  height: 40px;
  padding: 10px;
}

@media (max-width: 800px){
  .body {
    width: 100%;
  }
}

/* 
@media only screen and (max-width: 768px){
.profile-pic {
    width: 40vw;
    padding: 5vw 0 2vw;

}} */

@media (max-width: 650px){
.page-wrapper {
  display: flex;
  flex-direction: column;
  }}
@media(max-width: 650px) {
  .sidebar{
    display: none;
  }
}
@media (max-width: 950px){
.description{
display:inline-block;
}
}

@media (max-width: 768px){
  .navigation{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
  }
}

@media (max-width: 768px){
  .nav{
    width: 100px;
  }
}